target
.settings
.classpath
.project
.settings
.iml
.DS_Store
.idea
*.iml
gwt-unitCache/
widgetsets/
*.log
*.cdr
*.edr
.springBeans
.tmp
.metadata
bin
gen
*.mwb.bak
.gwt
bower_components
node_modules
build.properties
/target/
